mixin swiper-left()
    section.swiper-left 
        .swiper-container__left
            //- .progress
            //-     .progress-value
            .swiper-wrapper 
                each slide in ["Determine Value", "Build Value", "Realize Value", "Test"]
                    .swiper-slide
                        .swiper-slide__text 
                            | #{slide}
            .swiper-pagination