include partials/head

doctype html
html(lang="en")

    block head
        head
            +head({
                "title": "Slider video",
                "description": "Slider video"
            })

        body
            block content

            block scripts
                script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
                script(src="js/main.js")