@import "../base/variables";
@import "../base/mixins";

.section__gallery {
  padding-bottom: 58px;
  width: 100%;

  @media (max-width: $media-breakpoints-xxl) {
    padding-bottom: 84px;
  }

  @media (max-width: $media-breakpoints-md) {
    padding-bottom: 64px;
  }

  .gallery-title {
    position: relative;
    padding-bottom: 40px;
    @include geometria-normal-400;
    @include fs-50-lh-50;
    @include center-uppercase;
    color: $deepBlue;

    @media (max-width: $media-breakpoints-lg) {
      margin: 0 auto;
      max-width: 500px;
      @include fs-44-lh-44;

      &::before {
        position: absolute;
        content: "";
        top: -20px;
        right: calc(50% - 140px / 2);
        width: 140px;
        height: 2px;
        background: $gold;
      }
    }

    @media (max-width: $media-breakpoints-md) {
      padding-bottom: 32px;
      @include fs-32-lh-32;
    }
  }

  .gallery-list {
    @include flex-column-center-center;
    gap: 8px;

    @media (min-width: $media-breakpoints-md) {
      flex-direction: row;
      flex-wrap: wrap;

      @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 320px);
      }
    }

    @media (min-width: $media-breakpoints-xl) {
      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 350px);
      }
    }

    &__item {
      display: block;
      align-self: center;
      max-width: 328px;
      width: 100%;
      max-height: 200px;
      height: 100%;
      transition: all 0.5s ease;
      cursor: pointer;

      @media (min-width: $media-breakpoints-md) {
        max-width: 350px;
        max-height: 320px;

        @supports (display: grid) {
          max-width: 100%;
          width: 100%;
          max-height: 100%;
          height: 100%;

          &:nth-child(3) {
            grid-area: 2 / 1 / 2 / 3;
          }

          &:nth-child(6) {
            grid-area: 4 / 1 / 4 / 3;
          }

          &:nth-child(9) {
            grid-area: 6 / 1 / 6 / 3;
          }
        }
      }

      @media (min-width: $media-breakpoints-xl) {
        max-width: 379px;

        @supports (display: grid) {
          max-width: 100%;
          width: 100%;
          max-height: 100%;
          height: 100%;

          &:nth-child(3) {
            grid-area: 1 / 1 / 3 / 1;
          }

          &:nth-child(6) {
            grid-area: 1 / 3 / 1 / 5;
          }

          &:nth-child(9) {
            grid-area: 3 / 3 / 3 / 5;
          }
        }
      }

      @media (pointer: coarse) {
        &:active {
          transform: scale(0.9);
          transition: all 0.1s ease;
        }
      }

      @media (not (pointer: coarse)), (hover: hover) and (pointer: fine) {
        &:hover,
        &:focus {
          transform: scale(0.9);
          transition: all 0.5s ease;
        }
      }

      &_image {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: calc(200 / 328 * 100%);

        @media (min-width: $media-breakpoints-md) {
          padding-top: calc(320 / 350 * 100%);

          @supports (display: grid) {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
          }
        }

        @media (min-width: $media-breakpoints-xl) {
          padding-top: calc(320 / 379 * 100%);

          @supports (display: grid) {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
          }
        }

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(43, 43, 88, 0) 0%, #1D1D4E 100%);
          z-index: 1;
        }

        & img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .item-name {
          position: relative;
          left: 24px;
          bottom: -85%;
          @include geometria-normal-500;
          @include fs-20-lh-20;
          color: $white;
          z-index: 2;

          @media (max-width: $media-breakpoints-md - 1px) {
            bottom: 50px;
            @include fs-14-lh-14;
          }
        }
      }
    }
  }
}