$media-breakpoints-xs: 0;
$media-breakpoints-sm: 576px;
$media-breakpoints-md: 768px;
$media-breakpoints-lg: 1025px;
$media-breakpoints-xl: 1280px;
$media-breakpoints-xxl: 1440px;
$media-breakpoints-xxxl: 1720px;

$white: #FFFFFF;
$white-40: rgba(255, 255, 255, 0.4);
$white-80: rgba(255, 255, 255, 0.8);
$deepBlue: #0F0F28;
$deepBlue-80: rgba(15, 15, 40, 0.8);
$deeplBlue-60: rgba(15, 15, 40, 0.6);
$deepBlue-00: rgba(15, 15, 40, 0);
$gold: #C9AB63;
$paleGold: #E9DDC1;
$lightGrey: #E7E7E9;
$paleGrey: #F5F5F5;
$black-00: rgba(0, 0, 0, 0);
$black-10: rgba(0, 0, 0, 0.1);
$black-60: rgba(0, 0, 0, 0.6);