extends ../template 

block content
    .wrapper
        a.popup-youtube.btn.btn-primary(type="button" data-toggle="modal" href="#modalYoutube")
            | Youtube video
        a.popup-video.btn.btn-primary(type="button" data-toggle="modal" href="#modalVideo")
            | Local video
        