@import "fonts.scss";

@import "swiper.scss";
@import "splide.scss";

body {
    width: 100vw;
    height: 100vh;
    background: #040504;

    .wrapper {
        min-width: 100vw;
        min-height: 100vh;
        overflow: hidden;
    }
}

